.users {
background-color:aliceblue;
    padding:8px;
    margin: -2px;
    border-radius:10px;

}
.message_box {
    width: 100%;
    height: 70%;
    margin: 10px;
    background-color:aliceblue;
    opacity:0.8;
    border-radius:10px;
   border-style: outset;
}

.col-lg-4 {
background-color: darkgray;
opacity:0.7 ;
}

#qqq{
    margin-left:100px;
}
.container {
background-image:url(http://pic.58pic.com/58pic/16/06/39/79V58PICi47_1024.jpg) ;
}
#combine{
    width:700px;
    height: 34px;
}
#messages{
    float: left;
    margin-left: 10px;
    padding:9px 28px;
}
#connection{
    float: right;
}

#group{
    height: 34px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}
