
.post-box{
    margin-top: -10px;
    padding: 1px;
    padding-bottom: 10px;
}

.inner-post-box {
    padding: 2px;
}

.users {
    background-color:aliceblue;
    padding: 8px;
    padding-bottom: 3px;
    border-radius: 10px;
}

.message_box {
    width: 100%;
    height: 70%;
    margin: 10px;
    background-color:aliceblue;
    opacity:0.8;
    border-radius:10px;
   border-style: outset;
}

.col-lg-4 {
background-color: darkgray;
opacity:0.7 ;
}

.qqq{
    margin-left:100px;
}
.container {
background-color: lightgrey; ;
}
.combine{
    width:700px;
    height: 34px;
}
.messages{
    float: left;
    margin-left: 10px;
    padding:9px 28px;
}
#connection{
  float: right;
  width: 80px;
  margin: 10px;

}
/*
.btn btn-success
right: 0;
left: auto;
*/

.form-group{
    padding: 1px;
}

.group{
    height: 34px;
}
table {
    padding: 1px;
    width: 100%;
    border-bottom: solid #ffffff;
}

table, th, td {
    padding: 6px;
}
